# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.gitignore
.htaccess
.gitattributes
.editorconfig
.idea
.idea/*
*/my-auth.js
.DS_Store
*/index.sublime-workspace
index.sublime-workspace
js/dummy-auth.js
browserconfig.xml
crossdomain.xml
js/googleAnalyticsId.js